@media (max-width:1200px){
    .content-first__img{
        height: 471px ;
    }
    .content-third__img {
        height: 258px !important;
    }
    .content-product__item-label span {
        font-size: 24px !important;
        line-height: 24px !important;
    }
    .content-product__item-label span:last-child {
        font-size: 30px !important;
        line-height: 30px !important;
    }
}
@media (max-width:767px){
    .header__menu {
        border:none !important;
    }
    .header__search {
        right:30%;
    }
    .menu-slection{
        left: 30% !important;
    }
    .header-video__msg{
        flex-direction: column-reverse;
    }
    .header-video__img {
        height: 350px !important;
    }
    .content-first__img{
        height: 464px !important;
    }
    .content-second div{
        border-right: none !important;
    }
    .content-third__img{
        height: 464px !important;
    }
    .content-first::-webkit-scrollbar{
        display: none;
    }
    .service-content{
        text-align: center;
    }
    .footer-first{
        margin: 0 30px !important;
    }
    .text-link,
    .product-size {
        transform: translateY(0) !important;
    }
    .product-size__wrapper {
        flex-direction: column !important;
        align-items: flex-start !important;
        height: auto !important;
        padding-bottom: 10px;
    }
    .content-product__item-label span{
        font-size: 24px !important;
        line-height: 24px !important;
    }
    .content-product__item-label span:last-child{
        font-size: 30px !important;
        line-height: 30px !important;
    }
    .content-prodcut__item-info h2{
        font-size: 30px !important;
    }
    .footer-first h2{
        font-size: 36px !important;
        text-align: center;
    }
    .footer-style__img-wrapper{
        margin-bottom:25px;
    }
    .footer-contact .row.my-5{
        text-align: center;
    }
    .cart-select{
        left: 30%;
    }
    .footer-contact__item--social,
    .footer-contact__item--policy {
        justify-content: center;
    }
    .team-meet{
        overflow: scroll;
    }
    .form-register {
        max-width: 100%;
    }
}