:root{
    --primary-color: #49f9a4;
}
.wrapper{
    /* overflow: hidden; */
}
.cursor-pointer{
    cursor: pointer;
}
.fs-12px{
    font-size: 12px;
}
.letter-space {
    letter-spacing: 2px; /* hoặc 0.1em, 0.2em... */
  }
@keyframes translatey{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0%);
    }
}
@keyframes opacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes scale{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
.header__msg-wrapper{
    overflow: hidden;
}
.header__msg {
    height: 44px;
    animation: marquee 10s linear infinite;
    animation-direction: reverse;
    padding: 0 !important;
    margin: 0 !important;
    white-space: nowrap;
    color:#fff;
    font-size: 18px;
    white-space: nowrap;
    font-family: 'Clash Display', sans-serif;
}
.header__msg-wrapper:hover
.header__msg{
    animation-play-state: paused;
}
.outlined{
    -webkit-text-stroke: 0.5px #ffffff;
    color:#000;
}

.header__msg span{
    margin-right: 20px;
    text-transform: uppercase;
    display: inline-block;
}
.header__nav {
    z-index: 100;
    position: sticky;
    top:0;
    background-color: #fff;
}
.header__navbar-link{
    color:#000;
    padding: 10px 0;
    transition: all .3s linear;
    position: relative;
}
.header__navbar-item:hover .header__navbar-link{
    color:red;
    cursor: url('/images/logo-khunglonh.cur'), auto;
}
.header__navbar-item:hover .header__navbar-link::before{
    width: 100%;
}
.header__navbar-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 0%;
    background-color: red;
    transition: all .3s linear;
}
.cart-label{
    font-family: "Inter", sans-serif;
    position: absolute;
    top:-10px;
    right: -10px;
    color:#49f9a4;
    background-color: #000;
    height: 21px;
    min-width: 21px;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    line-height: 22px;
}
.header__secondary-links a{
    stroke:black;
    transition:all .3s linear;
}
.header__secondary-links a:hover{
    stroke:red;
}
.header__navbar-item:hover .select-home,
.header__navbar-item:hover .select-shop,
.header__navbar-item:hover .select-pages{
    display: block; 
}
.select-home,
.select-shop,
.select-pages{
    top:101%;
    right: 0;
    left: 0;
    padding:32px 0;
    display: none;
    /* transition: all 10s linear; */
    position: relative;
}
.select-heading{
    font-size: 14px;
    font-weight:700;
    margin-bottom: 20px;
}
.text-link{
    color:#000;
    line-height: 1.8;
    transition: all .2s linear;
}
.text-link:hover{
    color:var(--primary-color) !important;
}
.fs-name{
    font-size: 11px;
}
.product-item:hover img{
    transform: scale(1.1);
    transition: all .3s ease-in;
}
.col-md-2{
    overflow: hidden;
}
.header__navbar-item:hover .select-home #introduct1,
.header__navbar-item:hover .select-shop #introduct3,
.header__navbar-item:hover .select-pages #introduct5{
    animation: translatey .2s linear forwards;
}
.header__navbar-item:hover .select-home #introduct2,
.header__navbar-item:hover .select-shop #introduct4,
.header__navbar-item:hover .select-pages #introduct6{
    animation: translatey .25s linear forwards;
}
.header__navbar-item:hover .select-home #product1,
.header__navbar-item:hover .select-shop #product4,
.header__navbar-item:hover .select-pages #product7{
    animation: translatey .3s linear forwards;
}
.header__navbar-item:hover .select-home #product2,
.header__navbar-item:hover .select-shop #product5,
.header__navbar-item:hover .select-pages #product8{
    animation: translatey .35s linear forwards;
}
.header__navbar-item:hover .select-home #product3,
.header__navbar-item:hover .select-shop #product6,
.header__navbar-item:hover .select-pages #product9{
    animation: translatey .4s linear forwards;
}
.select-home::before{
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent;
    position: absolute;
    top:-20px;
    left: 30%;
}
.select-shop::before{
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent;
    position: absolute;
    top:-20px;
    left: 36%;
}
.select-pages::before{
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent;
    position: absolute;
    top:-20px;
    left: 64%;
}
.header__search{
    position: fixed;
    right: 65%;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 2;
    transform: translateX(-100%);
    transition: transform .6s cubic-bezier(.75,0,.175,1),visibility .6s cubic-bezier(.75,0,.175,1);

}
.border-none{
    border: none;
    outline: none;
}
.overlay{
    background: rgba(0,0,0,0.2);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}
.overlay{
    display: none;
}
#checkbox-search:checked ~ .overlay{
    display: block;
}
#checkbox-search:checked ~ .header__search{
    transform: translateX(0);
}
.user-select::before{
    content: "";
    border-width: 10px 20px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -18px;
    right: 5px;
    box-shadow: 0 0 3rem #0000000d;
}
.user-select{
    display: none;
    top:140%;
    right: -15px;
    width: 130px;
    border: 0.1rem solid #eaeaea;
    background-color: #fff;
    box-shadow: 0 0 3rem #0000000d;
}
.user:hover .user-select{
    display: block;
}
.cart-select{
    position: fixed;
    right: 0;
    left: 65%;
    bottom: 0;
    top: 0;
    background-color: #fff;
    transform: translateX(100%);
    transition:transform .6s cubic-bezier(.75,0,.175,1),visibility .6s cubic-bezier(.75,0,.175,1);
    z-index: 2;
}
#checkbox-cart:checked ~ .cart-select{
    transform: translateX(0);
}
#checkbox-cart:checked ~ .overlay{
    display: block;
}
.menu-selection{
    transform: translateX(100%);
    transition:transform .6s cubic-bezier(.75,0,.175,1),visibility .6s cubic-bezier(.75,0,.175,1);

}
#menu-selection:checked ~ .overlay{
    display: block;
}
#menu-selection:checked ~ .menu-selection{
    transform: translateX(0);
}
.start-shopping{
    color:#fff;
    background-color: #000;
}
.start-shopping:hover{
    color:var(--primary-color);
    background-image: unset;
    background-color: rgb(12 156 87);
}
.header-msg{
    animation: marquee 50s linear infinite;
    animation-direction: reverse;
}
@keyframes marquee{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}
.header-msg__wrapper:hover .header-msg{
    animation-play-state: paused;
}
.html5-video-container{
    z-index: 10;
    position: relative;
}
@keyframes playButtonRipple{
    0% {
        box-shadow: 0 0 rgb(var(--play-button-background)),0 0 rgb(var(--play-button-background));
    }
    100% {
        box-shadow: 0 0 0 17px rgba(var(--play-button-background),0),0 0 0 32px rgba(var(--play-button-background),0);
    }
}
.content__product-heading{
    text-transform: uppercase;
    text-align: center;
    /* color: #fff; */
    font-weight: 600;
    margin:50px 0 30px 0;
}
.content-first{
    border: 1px solid;
}
.content-first::-webkit-scrollbar{
    display: none;
}
.content-first__img {
    object-fit: contain;
    height: 398px;
}
.bottom-10{
    bottom: 10%;
}
.start-10{
    left: 10%;
}
.fs-50px{
    font-size: 50px;
}
.col-md-3:hover .content-product__item-info,
.col-md-4:hover .content-product__item-info,
.col-lg-3:hover .content-product__item-info{
    transform: translateY(-20px);
    transition: all .4s;
}
.content-product__item-info-title,
.content-product__item-info-description{
    color:#fff;
    padding:0;
    margin:0;
    line-height: 1;
    background-size: 100%;
    background-color: var(--primary-color);
    width: max-content;
    background-image: linear-gradient(#000,#000);
    transition: all .6s linear;
    background-repeat: no-repeat;
    background-position: 150%;
}
.col-md-6:hover .content-product__item-info-title,
.col-md-6:hover .content-product__item-info-description{
    color:#000;
    background-size: 0;
}
.col-md-6:hover .img-scale{
    transform: scale(1.1);
    transition: all .4s;
}
/* .content-product__item-info .shop-now:hover{
    background-position: 100% 25%,100% 100%;
} */
.content-product__item-label .shop-now{
    transition: all .4s linear;
    width: max-content;
    position: relative;
    color:rgb(255,255,255);
}
.content-product__item-label .shop-now:hover{
    transform: translateZ(0);
}
.content-product__item-label .shop-now:before{
    transition: all .4s linear;
    content: "";
    height: 100%;
    width: 0;
    position: absolute;
    background-color: var(--primary-color);
    top: 0;
    left: 0;
    transition: all .4s;
    z-index: -1;
}
.test{
    width: max-content;
}
.test:hover .shop-now:before{
    width: 100%;
}
/* .size{
    transform: translateY(20px);
} */
.fs-10px{
    font-size: 10px;
}
.product-size .active{
    color:var(--primary-color);
}
.product-size__wrapper{
    transform: translateY(10px);
}
.product-size__wrapper a{
    transform: translateY(20px);
    transition: all .4s;
}
.product-size{
    transform: translateY(20px);
    transition:all .4s;
}
.product-size span{
    cursor: pointer;
}
.col-md-4:hover .content-product__item-info .product-size,
.col-lg-3:hover .content-product__item-info .product-size,
.col-md-3:hover .content-product__item-info .product-size{
    transform: translateY(0);
}
.col-md-4:hover .content-product__item-info .product-size__wrapper a,
.col-lg-3:hover .content-product__item-info .product-size__wrapper a,
.col-md-3:hover .content-product__item-info .product-size__wrapper a{
    transform: translateY(0);
}
.content-third::-webkit-scrollbar{
    display: none;
}
.service-product{
    transform: translateX(100%);
    transition: all .4s ease-out;
}
.col-md-4:hover .service-product,
.col-lg-3:hover .service-product{
    transform: translateX(0%);
}
.service-product i:hover{
    color:var(--primary-color);
    transition: .2s linear;
}
.service-product svg:hover path{
    stroke:var(--primary-color);
    transition: .2s linear;
}
.col-md-3:hover .content-product__item-label span{
    background-size:0;
    color: #000;
}
.col-md-3:hover .content-product__item .img-scale{
    transform: scale(1.1);
}
.content-product__item-label span{
    background-image: linear-gradient(#000,#000);
    background-color: var(--primary-color);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 150%;
    transition: all .8s;
    font-family: "Clash-Display", Arial, sans-serif;
}
.discover-now__wrapper:hover .discover-now::before{
    width: 100%;
}
.discover-now{
    position: relative;
    letter-spacing: 1px;
}
.discover-now::before{
    content: "";
    background-color: var(--primary-color);
    z-index: -1;
    height: 100%;
    position: absolute;
    width: 0%;
    transition: all .4s;
}
.border-gray{
    border-color: gray !important;
}
.footer-first{
    margin: 0 80px;
}
.footer-first__control{
    top:50%;
    transform: translateY(-50%);
    left: 90%;
}
.btn-disabled i{
    color: #dee2e6;
}
.footer-logo .col-md-3 svg:hover path{
    stroke:var(--primary-color);
    fill:var(--primary-color);
    transition: all .3s;
}
.footer-logo .row::-webkit-scrollbar {
    display: none;
}
.footer-style__img-wrapper:hover .over-layout{
    opacity: 0.6;
}
.footer-style__img-wrapper:hover .add-style{
    opacity: 1;
}
.over-layout,
.add-style{
    transition: all .3s ease;
    opacity: 0;
}
.footer-contact__input{
    border:none;
    background-color: #f4f4f4;
    outline: none;
}
.footer-contact__input-wrapper{
    padding:17px 29px;
    background-color: #f4f4f4;
    font-size: 14px;
}
.footer-contact__input-wrapper [type=submit]{
  letter-spacing: 1px;
  border:none;
    background-color: #f4f4f4;
    outline: none;
}
.content-footer::-webkit-scrollbar{
    display: none;
}
.team-meet{
    transition: all .4s cubic-bezier(0.19, 1, 0.22, 1);
}
.team-meet::-webkit-scrollbar{
    display: none;
}
.footer-contact h3{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 36px;
}
.footer-contact__item--social-item a{
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #000;
    display: inline-block;
    padding: 0 5px;
}
.footer-contact__item--social-item:first-child a{
    padding-left: 0;
    border-left: none;
}
.text-gray{
    color:gray;
}
.footer-copyright a:hover{
    color: gray !important;
    transition: .4s;
}
/* music */
#playMusic{
    position:fixed;
    left: 10px;
    bottom: 5px;
    z-index: 1;
}
/* Login */
.form-group  i{
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.form-group i.active:after{
    content:'';
    position: absolute;
    right: 0;
    top: 50%;
    transform: rotate(45deg);
    width: 100%;
    height: 2px;
    background-color: black;
}
/* register */
.form .form-group{
    width:100%;
    margin-top:30px;
}
.form .form-group input{
    width:100%;
    height:59px;
    padding-left: 15px;
    font-weight: 300;
    outline: none;
    border:1px solid #444;
}
.form button{
    margin-top: 50px;
    width:100%;
    border:none;
    background-color: var(--primary-color);
    color:#fff;
    padding: 10px 0;
}

.error input{
    border-color:red !important
}
.error span{
    color:red;
}


.fa-solid.fa-eye.active::after{
    position: absolute;
    content: '';
    width: 20px;
    height: 2px;
    top: 50%;
    right: -8%;
    transform: rotate(45deg);
    background-color: #000;
}
/* product detail */
.quantity{
    width:145px;
    position: relative;
    height: 50px;
    border:1px solid #ddd;
}
.btn__quantity{
    width: 45px;
    position: absolute;
    border:none;
    top:2px;
    bottom:2px;
}
.btn__add{
    right:0;
}
.input__quantity{
width: 100%;
height: 100%;
border:none;
text-align: center;
}
.input__quantity:focus{
    border:none !important;
}
/* .btn__add-cart{
    padding: 
} */
 .tab__item{
    border-top:3px solid #ddd ;
        transform:translateY(1px);
 }
 .tab__active{
    border-bottom:none !important;
    border-top:3px solid #49f9a4 !important;    
 }

 /* Login */
.form-group  i{
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.form-group i.active:after{
    content:'';
    position: absolute;
    right: 0;
    top: 50%;
    transform: rotate(45deg);
    width: 100%;
    height: 2px;
    background-color: black;
}
/* register */
.form .form-group{
    width:100%;
    margin-top:30px;
}
.form .form-group input{
    width:100%;
    height:59px;
    padding-left: 15px;
    font-weight: 300;
    outline: none;
    border:1px solid #444;
}
.form .btn-submit__login{
    margin-top: 50px;
    width:100%;
    border:none;
    background-color: var(--primary-color);
    color:#fff;
    padding: 10px 0;
}

.error input{
    border-color:red !important
}
.error span{
    color:red;
}


.fa-solid.fa-eye.active::after{
    position: absolute;
    content: '';
    width: 20px;
    height: 2px;
    top: 50%;
    right: -8%;
    transform: rotate(45deg);
    background-color: #000;
}
.product__size--item.active {
    background-color: #198754; /* xanh lá */
    color: white;
    border-color: #198754;
}
.product__size--item.active label {
    color: white !important;
}


.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

th, td {
    vertical-align: middle !important;
}